:root {
  --margin: 6rem;
  --line-height: 1.2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14pt;
  font-family: serif;
  font-optical-sizing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
}

.top {
  display: flex;
}

nav {
  position: sticky;
  align-self: flex-start;
  text-align: right;
  padding: 0;
  padding-right: 1rem;
  max-width: 20em;
  top: var(--margin);
  line-height: var(--line-height);
}

nav * {
  display: block;
}

nav div {
  margin-bottom: 1em;
}

main {
  text-align: left;
  padding-left: 1rem;
  max-width: 40em;
  line-height: var(--line-height);
}

main p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

main hr {
  margin: 1.5em 0;
  border: none;
  border-top: 2px solid currentColor;
  opacity: 0.2;
}

main .poetry {
  white-space: pre-line;
}

main ul,
main ol {
  line-height: var(--line-height);
}

main pre {
  font-size: 12pt;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

blockquote {
  margin: 1.5em 2em;
}

code {
  font-family: monospace;
  font-size: 12pt;
}

code.hljs {
  display: block;
  border-radius: 5pt;
  padding: 1em;
}

table {
  border-collapse: collapse;
  margin: 1em auto;
  width: fit-content;
}

th:not(:last-child) {
  padding-right: 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e8e8e8;
    background-color: #1a1a1a;
  }

  a:link {
    color: aqua;
  }

  a:visited {
    color: #00b0c0;
  }

  a:hover {
    color: #00d0e0;
  }

  a:active {
    color: #00e5f5;
  }
}

@media (max-width: 1000px) {
  :root {
    --margin: 2rem;
  }

  .top {
    display: flow-root;
    margin: 1rem;
  }

  nav {
    text-align: unset;
    position: unset;
    max-width: unset;
    margin: 0;
    margin-bottom: var(--margin);
    padding: 0;
  }

  nav div {
    margin-bottom: 1em;
  }

  main {
    padding: unset;
  }
}